/target/

/.idea/**

/allure-results/**

/test-output/**

/log/**

/Report/**

/Report/IC.667.html

/Report/Datasheet.xlsx
/JDTestFramework.iml


/src/test/java/tests/testTestClass.java

/src/test/java/tests/resources/savedVar.properties

