/target/

/.idea/**

/allure-results/**

/test-output/**

/log/**

/Reports/**

/Reports/IC.667.html

/Reports/Datasheet.xlsx
/JDTestFramework.iml


/src/test/java/tests/testTestClass.java

/src/test/java/tests/resources/savedVar.properties

