/target/

/.idea/**

/allure-results/**

/test-output/**

/log/**

/Reports/**

/Reports/IC.html

/Reports/Datasheet.xlsx

/src/test/java/tests/testTestClass.java

/src/test/java/tests/resources/savedVar.properties