<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite
  SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JDGTestIC">
   <test name="JDGTestIC">
      <classes>
         <class name="tests.JDGTest_TestNG">
            <methods>
               <include name="Click_the_IC_logo_to_go_home_page"/>
               <include name="Validating_the_minimum_search_characters"/>
            </methods>
         </class>
      </classes>
   </test>
</suite>