<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite
  SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JDGTestIC">
   <test name="JDGTestIC">
      <parameter name="moduleName" value="MAIN"/>
      <classes>
         <class name="tests.testTestClass">
            <methods>
               <include name="Gift_Card_Redeem_Registered_user"/>
            </methods>
         </class>
      </classes>
   </test>
</suite>